USE [master]
GO
/****** Object:  Database [ConsoleChatDB]    Script Date: 18.05.2024 9:16:53 ******/
CREATE DATABASE [ConsoleChatDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConsoleChatDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ConsoleChatDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConsoleChatDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ConsoleChatDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConsoleChatDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConsoleChatDB]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 18.05.2024 9:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChatName] [nvarchar](256) NOT NULL,
	[LoginUserAdmin] [nvarchar](256) NOT NULL,
	[LoginUser] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 18.05.2024 9:16:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[LoginFromUser] [nvarchar](256) NOT NULL,
	[LoginToUser] [nvarchar](256) NOT NULL,
	[IdChat] [int] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.05.2024 9:16:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Login] [nvarchar](256) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD FOREIGN KEY([LoginUserAdmin])
REFERENCES [dbo].[Users] ([Login])
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD FOREIGN KEY([LoginUser])
REFERENCES [dbo].[Users] ([Login])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([IdChat])
REFERENCES [dbo].[Chats] ([Id])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([LoginFromUser])
REFERENCES [dbo].[Users] ([Login])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([LoginToUser])
REFERENCES [dbo].[Users] ([Login])
GO
USE [master]
GO
